# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules/

# Build output
/frontend/build/
/fronend/.pnp
/fronend/.pnp.js

# testing
/coverage

# production
/build

backend/venv
backend/task_management_backend/.env
backend/task_management_backend/.env
backend/task_management_backend/.env
backend/task_management_backend/task_management_backend/__pycache__
backend/task_management_backend/tasks/__pycache__
backend/task_management_backend/users/__pycache__



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/__pycache__/

*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyc

# Database
db.sqlite3
.env
# Media
/media/

# Virtual Environment
venv/
env/

# IDEs
.vscode/backend/task_management_backend/tasks/migrations/__pycache__
.idea/

# MacOS
.DS_Store
